<section class="bg-goal" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Making Changes, One Variable at a time.</h2>
                <hr class="light">
                <p class="text-faded">Hello, this is Hannah.  I am a software engineer. I can make small changes to softwares.  Those small changes can make a big impact to an app such as the web site that you are reading now.  You can make a difference to help the environment, one less burger or one less plastic waterbottle at a time</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Yes I Can!</a>
            </div>
        </div>
    </div>
</section>
