<section class="bg-goal" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Making change, One variable at a time.</h2>
                <hr class="light">
                <p class="text-faded">Hello, this is Hannah.  I discovered web development while trying to create ad-less games for kids. I am on a mission to build applications that arm end users with tools to achieve their full potential.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">I am a software developer</a>
            </div>
        </div>
    </div>
</section>
