<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fun Little  Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/ocean.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Where are you going today?
                            </div>
                            <div class="project-name">
                                Free events around NYC. Get kids out to the park or libraries for some fun~
                            </div>
                            <a href="http://www.luckyjac.com/" class="btn btn-primary btn-small">Go</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Easy Read News - skip the ads
                            </div>
                            <div class="project-name">
                                My favorite news website scraped
                            </div>
                            <a href="" class="btn btn-primary btn-small">Read</a>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
</section>
