<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/ocean.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Let's Go! - Rails & Jquery
                            </div>
                            <div class="project-name">
                                Organize Events from dinners to travel the world
                            </div>
                            <a href="https://github.com/hannah11361/io-let-us-go-rails-project" class="btn btn-primary btn-small">Github</a>
                            <a href="https://let-us-go.herokuapp.com/" class="btn btn-primary btn-small">Demo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/village.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                R3 Village - Rails & React
                            </div>
                            <div class="project-name">
                                A virtual village teaches kids to Reduce, Reuse & Recycle

                            </div>
                            <a href="https://github.com/hannah11361/R3-Village" class="btn btn-primary btn-small">Github</a>
                            <a href="https://youtu.be/HftMXDTrf74" class="btn btn-primary btn-small">Demo</a>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Wikimovia - Sinatra
                            </div>
                            <div class="project-name">
                                Organize Your Life-to-date movie ratings & Rate movies where 0 stars count! 
                            </div>
                            <a href="https://github.com/hannah11361/sinatra-app-wikimovia" class="btn btn-primary btn-small">Github</a>
                            <a href="https://youtu.be/iLl3xt4n3Ys" class="btn btn-primary btn-small">Demo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Countries of the World - Command Line Interface Ruby
                            </div>
                            <div class="project-name">
                                A Ruby Gem to show basic information of all countries in the world
                            </div>
                            <a href="https://github.com/hannah11361/countries-of-the-world-cli-app" class="btn btn-primary btn-small">Github</a>
                            <a href="https://youtu.be/neoql9uxVd8" class="btn btn-primary btn-small">Demo</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
